.header {
    background: #000 url(../../img/bools.svg) no-repeat right 150px;
    padding-top: 26px;
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 1150px) {
    .header {
       background :#000 url(../../img/bools.svg) no-repeat calc(100% - -321px) 150px
    }
}
@media screen and (max-width: 768px) {
    .header {
        height: 542px;
    }
}
